html {
  background-color: #5e7055;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  min-height: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  border: none;
  width: 380px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

html {
  background-color: #5e7055;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  min-height: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  border: none;
  width: 380px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Lato", sans-serif;
  color: white;
}

input, 
button {
  display: block;
  width: 300px;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Lato", sans-serif;
  padding: 6px 20px 6px;
  font-weight: 700px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

input {
  color: white;
  font-size: 16px;
}

input:focus, 
input:hover,
.neispravanUnos {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0);
}

input:hover {
  transition: all 0.2s;
}

button {
  width: 340px;
  height: 50px;
  opacity: 1;
  background-color: #375d4a;
  color: white;
  transition: background-color 0.2s;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #2b4b3b;
  transition: background-color 0.2s;
}

button:active {
  background-color: #223c2f;
}

h1, p {
  margin: 0px 0px 0px 0px;
  width: 340px;
}

h1 {
  margin-bottom: -8px;
}

p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  text-align: justify;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.neispravanUnos,
.neispravanUnos:hover {
  border: 1px solid rgb(185, 0, 0);
}

@media screen and (max-width: 700px) {
  
  html {
    background-image: url("../slike/pozadine/pozadinaPrijavaVertikalno.jpg");
  }

}

@media screen and (min-width: 701px) {
  
  html {
    background-image: url("../slike/pozadine/pozadinaPrijavaHorizontalno.jpg");
  }

}