#forma {
  border: none;
  width: 380px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Lato", sans-serif;
}

input[type="text"], 
#potvrdaDugme {
  display: block;
  width: 300px;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 25px;
  font-family: "Lato", sans-serif;
  padding: 6px 20px 6px;
  font-weight: 700px;
  background-color: #a2c5aa;
  transition: color 0.2s;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  transition: color 0.2s;
}

input[type="text"] {
  color: white;
  font-size: 16px;
}

input[type="text"]:focus, 
input[type="text"]:hover {
  outline: none;
  border: 1px solid #375d4a;
  background-color: rgba(255, 255, 255, 0);
  color: #375d4a;
}

input[type="text"]:focus::placeholder,
input[type="text"]:hover::placeholder {
  color: rgba(55, 93, 74, 0.7);
}

input[type="text"]:hover {
  transition: all 0.2s;
}

#potvrdaDugme {
  width: 340px;
  height: 50px;
  opacity: 1;
  background-color: #375d4a;
  color: white;
  transition: background-color 0.2s;
  font-weight: bold;
}

#potvrdaDugme:hover {
  cursor: pointer;
  background-color: #2b4b3b;
  transition: background-color 0.2s;
}

#potvrdaDugme:active {
  background-color: #223c2f;
}

#dnevnaAktivnost {
  color: #375d4a;
}

#faktorAktivnosti {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
  position: relative;
}

#faktorAktivnosti select {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 25px;
  height: 50px;
  width: 190px;
  outline: none;
  background-color: #a2c5aa;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 6px 15px 6px;
}

#faktorAktivnosti select:hover {
  cursor: pointer;
}

#faktorAktivnosti option {
  background-color: #375d4a;
}

#dnevnaAktivnost {
  height: 100%;
}

#objašnjenje {
  font-family: "Lato", sans-serif;
  color: black;
}

#dnevnaAktivnost h2 {
  font-weight: 400;
  font-size: 30px;
  font-weight: 700;
}

#objašnjenje p {
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
  margin: 10px 0px 0px 0px;
  padding-bottom: 15px;
}

#objašnjenje {
  height: 430px;
  width: 380px;
  padding-left: 38px;
  margin-right: 18px;
}

#objašnjenje h1 {
  margin: 0px 0px 0px 0px;
  font-size: 40px;
}

#odabirSpola {
  width: 340px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.spol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  color: black;
  border-radius: 25px;
  transition: all 0.2s;
}

.spol img{
  width: 50%;
}

.odabraniSpol {
  padding: 8px 8px 8px;
  box-shadow: 0px 0px 5px rgba(55, 93, 74, 0.4);
}

.neodabraniSpol:hover {
  padding: 8px 8px 8px;
  box-shadow: 0px 0px 5px rgba(55, 93, 74, 0.2);
  cursor: pointer;
}

.neodabraniSpol label:hover {
  cursor: pointer;
}

table, th, td {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid black;
}

.prvaKolona {
  width: 60%;
}

.brojčaniPodatak {
  text-align: center;
}

th,
th h2 {
  font-size: 22px !important;
}

th h3 {
  margin: 0px 0px 0px 0px;
  font-size: 10px;
}

th h2 {
  margin: 0px 0px 0px 0px;
}

.nazivPodatka {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skraćenica,
.nazivPodatka h3 {
  margin: 0px 0px 0px 0px;
}

.nazivPodatka h3 {
  font-size: 12px;
  font-weight: 400;
}

.skraćenica {
  font-size: 15px !important;
  color: rgba(0, 0, 0, 0.8);
}

th, td {
  height: 50px;
}

.neispravanUnos,
.neispravanUnos:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid rgb(185, 0, 0) !important;
  color: #375d4a !important;
}

.neispravanUnos::placeholder {
  color: rgba(55, 93, 74, 0.7) !important;
}

#tipAktivnostiInfo {
  display: inline-block;
  position: absolute;
  width: 180px;
  border-radius: 25px;
  padding: 8px 8px 8px;
  box-shadow: 0px 0px 8px rgba(55, 93, 74, 0.3);
  background-color: #f0fcf3;
  left: 345px;
  visibility: hidden;
}

#tipAktivnostiInfo p {
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: black;
}

#infoDugme img {
  width: 100%;
}

#infoDugme {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0px 0px 0px;
}

#infoDugme {
  cursor: pointer;
  transition: opacity 0.2s;
}

#infoDugme:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  
  #dnevnaAktivnost {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column-reverse;
  }

  #objašnjenje {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0px 0px 20px;
    margin: 0px 0px 0px 0px;
  }

  body {
    padding-top: 150px;
    padding-bottom: 85px;
  }

}

@media screen and (min-width: 801px) {

  #dnevnaAktivnost {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #objašnjenje {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
  }

}