html {
  background-color: #f0fcf3;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px 0px 0px 0px;
}

#navigacija {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  background-color: #e6f8ea;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logoIkona {
  height: 35px;
  margin-left: 9px;
  margin-right: 3px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

#meni {
  font-family: "Lato", sans-serif;
  display: flex;
  gap: 60px;
  margin-right: 9px;
  height: 100%;
  align-items: center;
}

.logo {
  display: flex;
  height: 60px;
  align-items: center;
}

.korisničkeOpcije {
  box-shadow: -5px 0 2px -5px rgba(55, 93, 74, 0.8);
  margin-left: -10px;
  padding-left: 9px;;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.korisničkeOpcije,
.meniStavka {
  font-size: 20px;
}

.meniStavka {
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.2s;
}

.meniStavka:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}

.aktivnaStavka,
.aktivnaStavka:hover,
#pomoćniMeni .aktivnaStavka:hover {
  cursor: pointer;
  color: black;
  font-weight: 700;
}

.korisničkeOpcije img {
  height: 50%;
}

.korisničkeOpcije label {
  font-size: 15px;
} 

.korisničkeOpcije:hover img,
.korisničkeOpcije:hover label {
  opacity: 0.6;
  cursor: pointer;
}

.korisničkeOpcije {
  cursor: pointer;
}

#hamburgerMeni {
  position: fixed;
  z-index: 100;
  height: 40px;
  background-color: transparent;
  border: none;
  right: 9px;
  transition: opacity 0.2s;
}

#zatvaranje:hover,
#hamburgerMeni:hover {
  opacity: 0.6;
  cursor: pointer;
}

#hamburgerMeni img {
  height: 100%;
}

#pomoćniMeni {
  display: flex;
  position: fixed;
  z-index: 110;
  right: 0px;
  top: 0px;
  bottom: 0px;
  align-items: center;
  justify-content: center;
  width: 170px;
  background-color: #e6f8ea;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  margin-right: -170px;
  transition: 0.4s;
}

#pomoćniMeni div {
  gap: 15px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  width: 142px;
  font-size: 18px;
}

#pomoćniMeni a {
  display: flex;
  justify-content: left;
  width: 100%;
  font-size: 18px;
}

.odjava {
  cursor: pointer;
  position: absolute;
  height: 30px;
  bottom: 21px;
  right: 16px;
  border: none;
  padding: 0px 0px 0px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  gap: 2px;
  transition: opacity 0.2s;
}

.odjava:hover {
  opacity: 0.6;
}

.odjava img {
  height: 100%;
}

.odjava label:hover {
  cursor: pointer;
}

#zatvaranje {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0px 0px 0px;
  transition: opacity 0.2s;
}

#zatvaranje img {
  width: 100%;
}

#sadržaj {
  height: 100%;
}

@media screen and (max-width: 700px) {

  #meni {
    visibility: hidden;
  }

  #hamburgerMeni {
    visibility: visible;
  }

  #navigacija {
    background-color: #e6f8ea;
  }

  #pomoćniMeni {
    margin-right: -170px;
  }

  body {
    background-color: rgba(0, 0, 0, 0);
  }

}

@media screen and (min-width: 701px) and (max-width: 850px) {

  #meni {
    visibility: hidden;
  }

  #hamburgerMeni {
    visibility: visible;
  }
  
}

@media screen and (min-width: 851px) {

  #hamburgerMeni {
    visibility: hidden;
  }

  #navigacija {
    background-color: #e6f8ea !important;
  }

  #pomoćniMeni {
    margin-right: -170px !important;
  }

  body {
    background-color: rgba(0, 0, 0, 0) !important;
  }

}


/* 
   Ispod je dat stil scrollbar-a, ali nije garantovano da će biti
   primijenjen u svim pretraživačima.
*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); 
  background: #e6fceb;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a3c3ab;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}