#tabelaIzvještaja {
  padding: 10px 10px 10px;
  font-family: "Lato", sans-serif;
}

#naslovIzvještaja,
#tabelaIzvještaja {
    width: 1490px;
}

#zaglavlje div {
  font-weight: bold;
}

#pojedinačneNamirnice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
}

#totalneVrijednosti,
#zaglavlje,
.izvještajONamirnici {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 10px;
  width: 1430px;
  padding: 10px 15px 10px;
}

#pojedinačneNamirnice {
  padding: 30px 10px 30px;
  box-shadow: 0 -5px 2px -5px rgba(129, 196, 162, 0.9),
              0 5px 2px -5px rgba(129, 196, 162, 0.9);
}

#totalNaziv {
  font-weight: bold;
}

#zaglavlje div {
  display: flex;
  justify-content: left;
  align-items: center;
}

#zaglavlje {
  font-size: 12px;
  padding: 0px 25px 10px;
}

#totalneVrijednosti {
  padding: 15px 25px 0px;
}

.izvještajONamirnici {
  box-shadow: 0px 0px 2px rgba(55, 93, 74, 0.3);
  font-size: 14px;
}

.podatakIzvještaja {
  display: flex;
  align-items: center;
}

.podatakIzvještaja img {
  height: 40px;
}

.zaglavljeBroj,
.brojUIzvještaju {
  display: flex !important;
  justify-content: end !important;
}

#naslovIzvještaja {
  position: relative;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

#naslovIzvještaja h1 {
  font-size: 35px;
  margin-bottom: 0px;
}

#naslovIzvještaja a {
  color: rgb(80, 80, 143);
  font-family: "Lato", sans-serif;
  transition: all 0.2s;
}

#naslovIzvještaja a:hover {
  opacity: 0.6;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  text-decoration: underline;
}

#naslovIzvještaja button {
  margin-right: 7px;
  background-color: transparent;
  border: none;
  transition: opacity 0.2s;
}

#naslovIzvještaja button:hover {
  opacity: 0.6;
  cursor: pointer;
}

#naslovIzvještaja img {
  width: 30px;
}

#porukaObavijesti {
  opacity: 0;
  transition: opacity 0.2s;
}

#porukaObavijestiPdf {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: white;
  background-color: #1D1C1A;
  position: absolute;
  padding: 15px 15px 15px;
  top: 17px;
  right: 68px;
  width: 190px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#porukaObavijestiPdf::after {
  content: "";
  border: 20px solid transparent;
  position: absolute;
  border-left-color: #1D1C1A;
  border-right: 0;
  right: -10px; top: 50%;
  margin-top: -20px;
}

@media screen and (max-width: 870px) {

  #izvještajOIshrani {
    margin-top: -60px !important;
  }

}

@media screen and (min-width: 871px) and (max-width: 1499px) {

  #izvještajOIshrani {
    margin-top: 110px !important;
  }

}

@media screen and (min-width: 1500px) {

  #izvještajOIshrani {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px !important;
  }

}