#tabelaIzvještaja {
  padding: 10px 10px 10px;
  font-family: "Lato", sans-serif;  
}

#izvještajOIshrani {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pojedinačneNamirnice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
}

#zaglavlje,
.izvještajONamirnici {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 5px;
  width: 1400px;
  padding: 10px 15px 10px;
}

#pojedinačneNamirnice {
  padding: 10px 10px 10px;
}

#zaglavlje div {
  display: flex;
  justify-content: left;
  align-items: center;
}

#zaglavlje {
  font-size: 11px;
  padding: 0px 25px 0;
  margin-bottom: 20px;
  box-shadow: 0 5px 2px -5px rgba(129, 196, 162, 0.9);
}

.izvještajONamirnici {
  box-shadow: 0px 0px 5px rgba(55, 93, 74, 0.3);
  font-size: 14px;
}

.podatakIzvještaja {
  display: flex;
  align-items: center;
  text-align: left;
}

.podatakIzvještaja img {
  height: 40px;
}

@media screen and (max-width: 870px) {
}

@media screen and (min-width: 871px) {

  
  #izvještajOIshrani {
    margin-top: 150px !important;
  }

}